.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: darkslateblue;
}
.title h3{
    color: aliceblue;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;  
}
.nav-link a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.nav-link a:hover{
    color: salmon;
}
